body {
    background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("bg.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    text-align: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

     text-shadow:
    0 0 10px rgba(255,255,255,0.5),
    0 0 20px rgba(0,140,255,0.6);
}

.title h1 {
    margin: 0;
    font-size: 120px;
}

.title img {
    width: 150px;
    height: 150px;
}

.botoes-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px;

    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.redes {
display: flex;
justify-content: center;
gap: 20px;
}

.botoes { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}

.consoles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 15px;
    max-width: 900px;
    margin: auto;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    width: 220px;
    height: 240px;

    border: 2px solid rgba(255,255,255,0.1);

    border-radius: 20px;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(10px);

    color: white;

    cursor: pointer;

    transition:
    transform 0.25s ease,
    background 0.25s ease,
    box-shadow 0.25s ease;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.5);
}

button:hover {
    transform: translateY(-8px) scale(1.03);

    background: rgba(0,140,255,0.2);

    box-shadow:
    0 0 20px rgba(0,140,255,0.6),
    0 0 40px rgba(0,140,255,0.3);
}

.img-c {
border-radius: 1px;
}

img {
    width: 150px;
    height: 150px;

    object-fit: cover;

    border-radius: 10px;

    transition: transform 0.3s ease;
}

button:hover img {
    transform: scale(1.05);
}

button p {
    margin: 0;

    font-size: 17px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

.title h1 {
    margin: 0;
}
.copyright {
    text-align: center;

    font-size: 13px;

    max-width: 900px;

    margin: 60px auto 20px auto;

    padding: 20px;

    line-height: 1.7;

    color: rgba(255,255,255,0.7);
}

.subtitle {
    text-align: center;
    font-size: 13px;

    max-width: 900px;

    margin: 0 auto 20px auto;

    padding: 10px 20px;

    line-height: 1.7;

    color: rgba(255,255,255,0.7);
}

.pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#searchInput {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#searchButton {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    font-size: 16px;
}

.pesquisa input {
    width: 400px;
    max-width: 80%;

    padding: 15px 20px;

    border: none;
    border-radius: 15px;

    background: rgba(255,255,255,0.1);

    backdrop-filter: blur(10px);

    color: white;
    font-size: 16px;

    outline: none;

    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.pesquisa input::placeholder {
    color: rgba(0,140,255,0.6);
}

@media (max-width: 768px) {

    .title {
        font-size: 45px;
    }

    button {
        width: 170px;
        height: 210px;
    }

    img {
        width: 120px;
        height: 120px;
    }
}